# IMPORT DATA

In [2]:
import pandas as pd
import numpy as np

In [3]:
data= pd.read_csv("Cat_human_New.csv")
data

           Color Eye_color  Height  Legs Moustache Tail     Weight  label
0          black     black    5.14     2        No   No  70.000000  human
1     dark_brown     brown    6.80     2        No   No  64.400000  human
2    light_brown     brown    5.00     2       Yes   No  64.800000  human
3    light_brown      blue    5.90     2        No   No  78.800000  human
4    light_brown      blue    6.56     2        No   No  73.200000  human
..           ...       ...     ...   ...       ...  ...        ...    ...
195        brown      gray    1.14     4       Yes  Yes   2.304511    Cat
196        white    yellow    1.39     4       Yes  Yes   5.687970    Cat
197        white     black    0.53     4       Yes  Yes   6.364662    Cat
198        brown     green    1.03     4       Yes  Yes   6.590226    Cat
199  brown_white      blue    0.83     4       Yes  Yes   7.868421    Cat

[200 rows x 8 columns]

# DATA CLEANING

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Color      200 non-null    object
 1   Eye_color  200 non-null    object
 2   Height     200 non-null    float64
 3   Legs       200 non-null    int64
 4   Moustache  200 non-null    object
 5   Tail       200 non-null    object
 6   Weight     200 non-null    float64
 7   label      200 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 12.6+ KB

In [5]:
data.drop_duplicates()

           Color Eye_color  Height  Legs Moustache Tail     Weight  label
0          black     black    5.14     2        No   No  70.000000  human
1     dark_brown     brown    6.80     2        No   No  64.400000  human
2    light_brown     brown    5.00     2       Yes   No  64.800000  human
3    light_brown      blue    5.90     2        No   No  78.800000  human
4    light_brown      blue    6.56     2        No   No  73.200000  human
..           ...       ...     ...   ...       ...  ...        ...    ...
195        brown      gray    1.14     4       Yes  Yes   2.304511    Cat
196        white    yellow    1.39     4       Yes  Yes   5.687970    Cat
197        white     black    0.53     4       Yes  Yes   6.364662    Cat
198        brown     green    1.03     4       Yes  Yes   6.590226    Cat
199  brown_white      blue    0.83     4       Yes  Yes   7.868421    Cat

[200 rows x 8 columns]

In [6]:
data.T.drop_duplicates().T

           Color Eye_color Height Legs Moustache Tail    Weight  label
0          black     black   5.14    2        No   No      70.0  human
1     dark_brown     brown    6.8    2        No   No      64.4  human
2    light_brown     brown    5.0    2       Yes   No      64.8  human
3    light_brown      blue    5.9    2        No   No      78.8  human
4    light_brown      blue   6.56    2        No   No      73.2  human
..           ...       ...    ...  ...       ...  ...       ...    ...
195        brown      gray   1.14    4       Yes  Yes  2.304511    Cat
196        white    yellow   1.39    4       Yes  Yes   5.68797    Cat
197        white     black   0.53    4       Yes  Yes  6.364662    Cat
198        brown     green   1.03    4       Yes  Yes  6.590226    Cat
199  brown_white      blue   0.83    4       Yes  Yes  7.868421    Cat

[200 rows x 8 columns]

In [7]:
data.dropna(axis=0,how="all")

           Color Eye_color  Height  Legs Moustache Tail     Weight  label
0          black     black    5.14     2        No   No  70.000000  human
1     dark_brown     brown    6.80     2        No   No  64.400000  human
2    light_brown     brown    5.00     2       Yes   No  64.800000  human
3    light_brown      blue    5.90     2        No   No  78.800000  human
4    light_brown      blue    6.56     2        No   No  73.200000  human
..           ...       ...     ...   ...       ...  ...        ...    ...
195        brown      gray    1.14     4       Yes  Yes   2.304511    Cat
196        white    yellow    1.39     4       Yes  Yes   5.687970    Cat
197        white     black    0.53     4       Yes  Yes   6.364662    Cat
198        brown     green    1.03     4       Yes  Yes   6.590226    Cat
199  brown_white      blue    0.83     4       Yes  Yes   7.868421    Cat

[200 rows x 8 columns]

In [8]:
data.dropna(axis=1,how="all")

           Color Eye_color  Height  Legs Moustache Tail     Weight  label
0          black     black    5.14     2        No   No  70.000000  human
1     dark_brown     brown    6.80     2        No   No  64.400000  human
2    light_brown     brown    5.00     2       Yes   No  64.800000  human
3    light_brown      blue    5.90     2        No   No  78.800000  human
4    light_brown      blue    6.56     2        No   No  73.200000  human
..           ...       ...     ...   ...       ...  ...        ...    ...
195        brown      gray    1.14     4       Yes  Yes   2.304511    Cat
196        white    yellow    1.39     4       Yes  Yes   5.687970    Cat
197        white     black    0.53     4       Yes  Yes   6.364662    Cat
198        brown     green    1.03     4       Yes  Yes   6.590226    Cat
199  brown_white      blue    0.83     4       Yes  Yes   7.868421    Cat

[200 rows x 8 columns]

In [9]:
data.fillna(0)

           Color Eye_color  Height  Legs Moustache Tail     Weight  label
0          black     black    5.14     2        No   No  70.000000  human
1     dark_brown     brown    6.80     2        No   No  64.400000  human
2    light_brown     brown    5.00     2       Yes   No  64.800000  human
3    light_brown      blue    5.90     2        No   No  78.800000  human
4    light_brown      blue    6.56     2        No   No  73.200000  human
..           ...       ...     ...   ...       ...  ...        ...    ...
195        brown      gray    1.14     4       Yes  Yes   2.304511    Cat
196        white    yellow    1.39     4       Yes  Yes   5.687970    Cat
197        white     black    0.53     4       Yes  Yes   6.364662    Cat
198        brown     green    1.03     4       Yes  Yes   6.590226    Cat
199  brown_white      blue    0.83     4       Yes  Yes   7.868421    Cat

[200 rows x 8 columns]

# DATA conversion in numericals

In [10]:
from sklearn.model_selection import train_test_split
import sklearn.linear_model as lm
import sklearn.preprocessing as sp

In [11]:
#separate features and labels
X=np.c_[data.iloc[: ,0:7]]
X
Y=data.iloc[:,7]
Y

0      human
1      human
2      human
3      human
4      human
       ...
195      Cat
196      Cat
197      Cat
198      Cat
199      Cat
Name: label, Length: 200, dtype: object

# 1.vectorization

In [12]:
encoder=sp.OneHotEncoder()
x_1= encoder.fit_transform(np.c_[data["Color"]]).toarray()
x_1

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.]])

In [13]:
x_2= encoder.fit_transform(np.c_[data["Eye_color"]]).toarray()
x_2

array([[1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       ...,
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0.]])

In [14]:
x_3= encoder.fit_transform(np.c_[data["Moustache"]]).toarray()
x_3

array([[1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [15]:
x_4= encoder.fit_transform(np.c_[data["Tail"]]).toarray()
x_4

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.]])

# 2. label encoding

In [16]:
encoder= sp.LabelEncoder()
Y_1= encoder.fit_transform(Y).reshape(-1,1)
Y_1

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0]])

In [17]:
a=pd.DataFrame(x_1)

a

       0    1    2    3    4    5    6
0    1.0  0.0  0.0  0.0  0.0  0.0  0.0
1    0.0  0.0  0.0  1.0  0.0  0.0  0.0
2    0.0  0.0  0.0  0.0  0.0  1.0  0.0
3    0.0  0.0  0.0  0.0  0.0  1.0  0.0
4    0.0  0.0  0.0  0.0  0.0  1.0  0.0
..   ...  ...  ...  ...  ...  ...  ...
195  0.0  1.0  0.0  0.0  0.0  0.0  0.0
196  0.0  0.0  0.0  0.0  0.0  0.0  1.0
197  0.0  0.0  0.0  0.0  0.0  0.0  1.0
198  0.0  1.0  0.0  0.0  0.0  0.0  0.0
199  0.0  0.0  1.0  0.0  0.0  0.0  0.0

[200 rows x 7 columns]

In [18]:
b=pd.DataFrame(x_2)
b

       0    1    2    3    4    5
0    1.0  0.0  0.0  0.0  0.0  0.0
1    0.0  0.0  1.0  0.0  0.0  0.0
2    0.0  0.0  1.0  0.0  0.0  0.0
3    0.0  1.0  0.0  0.0  0.0  0.0
4    0.0  1.0  0.0  0.0  0.0  0.0
..   ...  ...  ...  ...  ...  ...
195  0.0  0.0  0.0  1.0  0.0  0.0
196  0.0  0.0  0.0  0.0  0.0  1.0
197  1.0  0.0  0.0  0.0  0.0  0.0
198  0.0  0.0  0.0  0.0  1.0  0.0
199  0.0  1.0  0.0  0.0  0.0  0.0

[200 rows x 6 columns]

In [19]:
c=pd.DataFrame(x_3)
c

       0    1
0    1.0  0.0
1    1.0  0.0
2    0.0  1.0
3    1.0  0.0
4    1.0  0.0
..   ...  ...
195  0.0  1.0
196  0.0  1.0
197  0.0  1.0
198  0.0  1.0
199  0.0  1.0

[200 rows x 2 columns]

In [20]:
d=pd.DataFrame(x_4)
d

       0    1
0    1.0  0.0
1    1.0  0.0
2    1.0  0.0
3    1.0  0.0
4    1.0  0.0
..   ...  ...
195  0.0  1.0
196  0.0  1.0
197  0.0  1.0
198  0.0  1.0
199  0.0  1.0

[200 rows x 2 columns]

# Normalization

In [21]:
height=data["Height"]
height
hgt_max= height.max()
hgt_max
for i in height:
    hgt_rng= height/hgt_max
hgt_rng

0      0.736390
1      0.974212
2      0.716332
3      0.845272
4      0.939828
         ...
195    0.163324
196    0.199140
197    0.075931
198    0.147564
199    0.118911
Name: Height, Length: 200, dtype: float64

In [22]:
weight=data["Weight"]
weight
wgt_max= weight.max()
wgt_max
for i in weight:
    wgt_rng= weight/wgt_max
wgt_rng

0      0.879397
1      0.809045
2      0.814070
3      0.989950
4      0.919598
         ...
195    0.028951
196    0.071457
197    0.079958
198    0.082792
199    0.098850
Name: Weight, Length: 200, dtype: float64

In [23]:
legs=data["Legs"]
legs
leg_max= legs.max()
leg_max
for i in legs:
    leg_rng= legs/leg_max
leg_rng

0      0.5
1      0.5
2      0.5
3      0.5
4      0.5
      ...
195    1.0
196    1.0
197    1.0
198    1.0
199    1.0
Name: Legs, Length: 200, dtype: float64

# Dataframe ready for training

In [24]:
X_1=pd.concat([a,b,hgt_rng,leg_rng,c,d,wgt_rng],axis=1)
X_1

,0,1,2,3,4,5,6,0,1,2,3,4,5,Height,Legs,0,1,0,1,Weight
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.736390,0.5,1.0,0.0,1.0,0.0,0.879397
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.974212,0.5,1.0,0.0,1.0,0.0,0.809045
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.716332,0.5,0.0,1.0,1.0,0.0,0.814070
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.845272,0.5,1.0,0.0,1.0,0.0,0.989950
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.939828,0.5,1.0,0.0,1.0,0.0,0.919598
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.163324,1.0,0.0,1.0,0.0,1.0,0.028951
196,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.199140,1.0,0.0,1.0,0.0,1.0,0.071457
197,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.075931,1.0,0.0,1.0,0.0,1.0,0.079958
198,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.147564,1.0,0.0,1.0,0.0,1.0,0.082792
199,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.118911,1.0,0.0,1.0,0.0,1.0,0.098850

In [25]:
train_x,test_x,train_y,test_y= train_test_split(X_1, Y_1)

# ML Algorithm; logistic Regression

In [26]:
model=lm.LogisticRegression()
model.fit(train_x,train_y)
pred_y=model.predict(test_x)
import sklearn.model_selection as ms
from sklearn.metrics import confusion_matrix
y_train_pred = ms.cross_val_predict(model, train_x, train_y)
pred_y=model.predict(test_x)
conf_mx = confusion_matrix(test_y, pred_y)
conf_mx = confusion_matrix(train_y, y_train_pred)
conf_mx

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

array([[75,  0],
       [ 0, 75]], dtype=int64)

In [27]:
Y_1=pd.DataFrame(Y_1)
Y_1

     0
0    1
1    1
2    1
3    1
4    1
..  ..
195  0
196  0
197  0
198  0
199  0

[200 rows x 1 columns]

# ML Algorithm; SVM (kernel= linear)

In [28]:
import sklearn.svm as sv
import sklearn.metrics as sm
model=sv.SVC(kernel='linear')
model.fit(train_x,train_y)
pred_y=model.predict(test_x)
print(sm.classification_report(test_y,pred_y))
import sklearn.model_selection as ms
from sklearn.metrics import confusion_matrix
y_train_pred = ms.cross_val_predict(model, train_x, train_y)
conf_mx = confusion_matrix(train_y, y_train_pred)
conf_mx

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        25
           1       1.00      1.00      1.00        25

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

array([[75,  0],
       [ 0, 75]], dtype=int64)

# SVM (kernel= degree 5)

In [29]:
import sklearn.svm as sv
import sklearn.metrics as sm
model=sv.SVC(kernel='poly', degree= 5)
model.fit(train_x,train_y)
pred_y=model.predict(test_x)
print(sm.classification_report(test_y,pred_y))
import sklearn.model_selection as ms
from sklearn.metrics import confusion_matrix
y_train_pred = ms.cross_val_predict(model, train_x, train_y)
conf_mx = confusion_matrix(train_y, y_train_pred)
conf_mx

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        25
           1       1.00      1.00      1.00        25

    accuracy                           1.00        50
   macro avg       1.00      1.00      1.00        50
weighted avg       1.00      1.00      1.00        50

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

array([[75,  0],
       [ 0, 75]], dtype=int64)

# prediction

In [30]:
model.predict(test_x)

array([0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 1])

In [31]:
encoder.inverse_transform (pred_y)

array(['Cat', 'human', 'Cat', 'Cat', 'Cat', 'human', 'human', 'Cat',
       'human', 'Cat', 'Cat', 'human', 'Cat', 'human', 'Cat', 'Cat',
       'Cat', 'Cat', 'human', 'Cat', 'Cat', 'Cat', 'human', 'human',
       'human', 'human', 'human', 'human', 'Cat', 'human', 'Cat', 'human',
       'human', 'Cat', 'human', 'human', 'Cat', 'Cat', 'human', 'human',
       'Cat', 'Cat', 'Cat', 'Cat', 'human', 'human', 'Cat', 'human',
       'human', 'human'], dtype=object)

# KMeans

In [32]:
from sklearn.cluster import KMeans
k=3
kmeans=KMeans(n_clusters=k)
y_pred=kmeans.fit_predict(np.c_[X_1])
y_pred

array([2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 0, 0, 2, 0, 0, 2, 2, 0, 2, 2, 0,
       2, 2, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0, 2,
       0, 2, 2, 0, 2, 2, 0, 0, 2, 0, 2, 2, 0, 0, 2, 0, 2, 2, 0, 2, 2, 0,
       2, 2, 0, 2, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 0, 2, 0, 0, 0, 0, 0, 0,
       0, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1])